.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    .login-form-wrapper{
        max-width: 33.33%;
        align-self: center;
        .login-btn{
            background-color: #27306a;
            padding-left: 12px;
            padding-right: 12px;
            text-align: center;
            color: #fff;
            font-size: 0.5em;
            line-height: 1.6em;
            font-weight: 600;
            text-decoration: none;
            border-width: initial;
            border-style: none;
            border-color: initial;
            border-image: initial;
            border-radius: 3px;
        }
    }
}